xcode-old/
xcode2/
xcode/
CMakeFiles/
CMakecache.txt
cmake_install.cmake
Makefile
names.txt
src/CMakeFiles/
src/CMakecache.txt
src/Makefile
*.DS_Store
/build-cute-fantasy-Desktop_Qt_5_5_0_MSVC2013_64bit-Debug/*.Debug
/cute-fantasy/Makefile.Debug
/cute-fantasy/Makefile.Release
/cute-fantasy/debug/*.obj
/include/nanomsg-xxx
/debugbin
cute_fantasy/debug 
cute-fantasy/boost-includes.pri
include/google/protobuf-2.6-1/*
libwin64 - Copy (2)/*
bin/*
cute-fantasy/generatedfiles/qrc_resources.cpp
cute-fantasy/release/*
cute-fantasy/tmp/*
debugbinagent/*
openssl-1.0.1i-x64_86-win64/*
deploy/storage/*
storage/*
*.orig
stage/*
libwin64*/
*/storage/*
cute-fantasy/cute-fantasy.pro
*.log
satoshifantasy.pro.user
deploy/tradingfootball.exe
prodtest1-0-3-5/*
tradingfootball/tmp/*
tradingfootball/debug/*
tradingfootball/generatedfiles/qrc_resources.cpp
tradingfootball/resources/png/Thumbs.db
